# for development purposes
services:
  backend:
    image: node:25
    env_file: .env
    volumes:
      - .:/opt/app:delegated
    working_dir: /opt/app
    command: npm run watch -w backend
    ports:
      - 4000:4000
  frontend:
    image: node:25
    volumes:
      - .:/opt/app:delegated
    working_dir: /opt/app
    command: npm run watch -w frontend
    ports:
      - 3000:3000
    depends_on:
      - backend
    environment:
      - BACKEND_URL=http://backend:4000
