.device-image-wrapper {
  position: relative;
  width: var(--device-image-size);
  height: var(--device-image-size);
  margin: var(--device-image-border-width);
}

.device-image {
    position: relative;
  width: var(--device-image-size);
  height: var(--device-image-size);
  object-fit: cover;
  border-radius: var(--device-image-border-radius);
  background-color: var(--device-image-bg);
  opacity: 1;
}
.device-image-border{
    position: absolute;
    top: calc(var(--device-image-border-width) * -1);
    left: calc(var(--device-image-border-width) * -1);
    width: calc(100% + var(--device-image-border-width) * 2);
    height: calc(100% + var(--device-image-border-width) * 2);
    border-radius: calc(var(--device-image-border-radius) + var(--device-image-border-width));
    border: var(--device-image-border-width) solid var(--device-image-border-color);
    background-color:  var(--device-icon-border-color);
    overflow: hidden;
    pointer-events: none;
}
.device-image-border-inner{
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% + var(--device-image-border-width) * 2);
    height: calc(100% + var(--device-image-border-width) * 2);
    background-color:  var(--device-icon-bg);
    pointer-events: none;
}

.device-image-container{
    position: relative;
    z-index: 10;
}
.device-image-unreachable {
  opacity: var(--device-unreachable-opacity);
}

.device-icon {
  width: var(--device-image-size);
  height: var(--device-image-size);
  border-radius: var(--device-image-border-radius);
  background-color: var(--device-icon-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
}

.device-icon-unreachable {
  opacity: var(--device-unreachable-opacity);
}

.device-unreachable-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--device-image-size);
  height: var(--device-image-size);
  border-radius: var(--device-image-border-radius);
  background-color: var(--device-unreachable-overlay);
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.device-unreachable-slash {
  width: var(--device-unreachable-slash-width);
  height: var(--device-unreachable-slash-height);
  background-color: white;
  transform: rotate(45deg);
}
