.grid {
  display: grid;
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--spacing-md) * -0.5);
  margin-right: calc(var(--spacing-md) * -0.5);
}

.row-gutter-16 {
  margin-left: -8px;
  margin-right: -8px;
}

.row-gutter-16 > .col {
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 16px;
}

.row-gutter-8 {
  margin-left: -4px;
  margin-right: -4px;
}

.row-gutter-8 > .col {
  padding-left: 4px;
  padding-right: 4px;
  margin-bottom: 8px;
}

.row-align-middle {
  align-items: center;
}

.row-justify-start {
  justify-content: flex-start;
}

.row-justify-end {
  justify-content: flex-end;
}

.row-justify-center {
  justify-content: center;
}

.row-justify-space-around {
  justify-content: space-around;
}

.row-justify-space-between {
  justify-content: space-between;
}

.col {
  padding-left: calc(var(--spacing-md) * 0.5);
  padding-right: calc(var(--spacing-md) * 0.5);
  box-sizing: border-box;
}

.col-flex-none {
  flex: none;
}

.col-flex-auto {
  flex: 1 1 auto;
  min-width: 0;
}

.col-span-24 {
  width: 100%;
  flex: 0 0 100%;
}

.col-span-12 {
  width: 50%;
  flex: 0 0 50%;
}

.col-span-8 {
  width: 33.33333%;
  flex: 0 0 33.33333%;
}

.col-span-6 {
  width: 25%;
  flex: 0 0 25%;
}

.col-span-4 {
  width: 16.66667%;
  flex: 0 0 16.66667%;
}

/* Responsive column sizes - mobile first approach */
/* Base (xs): <576px */
.col-xs-4 { width: 16.66667%; flex: 0 0 16.66667%; }
.col-xs-6 { width: 25%; flex: 0 0 25%; }
.col-xs-8 { width: 33.33333%; flex: 0 0 33.33333%; }
.col-xs-12 { width: 50%; flex: 0 0 50%; }
.col-xs-24 { width: 100%; flex: 0 0 100%; }

@media (min-width: 576px) {
  .col-sm-4 { width: 16.66667%; flex: 0 0 16.66667%; }
  .col-sm-6 { width: 25%; flex: 0 0 25%; }
  .col-sm-8 { width: 33.33333%; flex: 0 0 33.33333%; }
  .col-sm-12 { width: 50%; flex: 0 0 50%; }
  .col-sm-24 { width: 100%; flex: 0 0 100%; }
}

@media (min-width: 768px) {
  .col-md-4 { width: 16.66667%; flex: 0 0 16.66667%; }
  .col-md-6 { width: 25%; flex: 0 0 25%; }
  .col-md-8 { width: 33.33333%; flex: 0 0 33.33333%; }
  .col-md-12 { width: 50%; flex: 0 0 50%; }
  .col-md-24 { width: 100%; flex: 0 0 100%; }
}

@media (min-width: 992px) {
  .col-lg-4 { width: 16.66667%; flex: 0 0 16.66667%; }
  .col-lg-6 { width: 25%; flex: 0 0 25%; }
  .col-lg-8 { width: 33.33333%; flex: 0 0 33.33333%; }
  .col-lg-12 { width: 50%; flex: 0 0 50%; }
  .col-lg-24 { width: 100%; flex: 0 0 100%; }
}

@media (min-width: 1200px) {
  .col-xl-4 { width: 16.66667%; flex: 0 0 16.66667%; }
  .col-xl-6 { width: 25%; flex: 0 0 25%; }
  .col-xl-8 { width: 33.33333%; flex: 0 0 33.33333%; }
  .col-xl-12 { width: 50%; flex: 0 0 50%; }
  .col-xl-24 { width: 100%; flex: 0 0 100%; }
}

@media (min-width: 1600px) {
  .col-xxl-4 { width: 16.66667%; flex: 0 0 16.66667%; }
  .col-xxl-6 { width: 25%; flex: 0 0 25%; }
  .col-xxl-8 { width: 33.33333%; flex: 0 0 33.33333%; }
  .col-xxl-12 { width: 50%; flex: 0 0 50%; }
  .col-xxl-24 { width: 100%; flex: 0 0 100%; }
}
