.grid {
  display: grid;
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--spacing-md) * -0.5);
  margin-right: calc(var(--spacing-md) * -0.5);
}

.row-gutter-16 {
  margin-left: -8px;
  margin-right: -8px;
}

.row-gutter-16 > .col {
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 16px;
}

.row-gutter-8 {
  margin-left: -4px;
  margin-right: -4px;
}

.row-gutter-8 > .col {
  padding-left: 4px;
  padding-right: 4px;
  margin-bottom: 8px;
}

.row-align-middle {
  align-items: center;
}

.row-justify-start {
  justify-content: flex-start;
}

.row-justify-end {
  justify-content: flex-end;
}

.row-justify-center {
  justify-content: center;
}

.row-justify-space-around {
  justify-content: space-around;
}

.row-justify-space-between {
  justify-content: space-between;
}

.col {
  padding-left: calc(var(--spacing-md) * 0.5);
  padding-right: calc(var(--spacing-md) * 0.5);
  box-sizing: border-box;
}

.col-flex-none {
  flex: none;
}

.col-flex-auto {
  flex: 1 1 auto;
  min-width: 0;
}

.col-span-24 {
  width: 100%;
  flex: 0 0 100%;
}

.col-span-12 {
  width: 50%;
  flex: 0 0 50%;
}

.col-span-8 {
  width: 33.33333%;
  flex: 0 0 33.33333%;
}

.col-span-6 {
  width: 25%;
  flex: 0 0 25%;
}

.col-span-4 {
  width: 16.66667%;
  flex: 0 0 16.66667%;
}

.col-span-3 {
  width: 12.5%;
  flex: 0 0 12.5%;
}

.col-span-2 {
  width: 8.33333%;
  flex: 0 0 8.33333%;
}

.col-span-1 {
  width: 4.16667%;
  flex: 0 0 4.16667%;
}

/* Responsive column sizes - mobile first approach */
/* Base (xs): <576px */
.col-xs-1 { width: 4.16667%; flex: 0 0 4.16667%; }
.col-xs-2 { width: 8.33333%; flex: 0 0 8.33333%; }
.col-xs-3 { width: 12.5%; flex: 0 0 12.5%; }
.col-xs-4 { width: 16.66667%; flex: 0 0 16.66667%; }
.col-xs-5 { width: 20.83333%; flex: 0 0 20.83333%; }
.col-xs-6 { width: 25%; flex: 0 0 25%; }
.col-xs-7 { width: 29.16667%; flex: 0 0 29.16667%; }
.col-xs-8 { width: 33.33333%; flex: 0 0 33.33333%; }
.col-xs-9 { width: 37.5%; flex: 0 0 37.5%; }
.col-xs-10 { width: 41.66667%; flex: 0 0 41.66667%; }
.col-xs-11 { width: 45.83333%; flex: 0 0 45.83333%; }
.col-xs-12 { width: 50%; flex: 0 0 50%; }
.col-xs-13 { width: 54.16667%; flex: 0 0 54.16667%; }
.col-xs-14 { width: 58.33333%; flex: 0 0 58.33333%; }
.col-xs-15 { width: 62.5%; flex: 0 0 62.5%; }
.col-xs-16 { width: 66.66667%; flex: 0 0 66.66667%; }
.col-xs-17 { width: 70.83333%; flex: 0 0 70.83333%; }
.col-xs-18 { width: 75%; flex: 0 0 75%; }
.col-xs-19 { width: 79.16667%; flex: 0 0 79.16667%; }
.col-xs-20 { width: 83.33333%; flex: 0 0 83.33333%; }
.col-xs-21 { width: 87.5%; flex: 0 0 87.5%; }
.col-xs-22 { width: 91.66667%; flex: 0 0 91.66667%; }
.col-xs-23 { width: 95.83333%; flex: 0 0 95.83333%; }
.col-xs-24 { width: 100%; flex: 0 0 100%; }

@media (min-width: 576px) {
  .col-sm-1 { width: 4.16667%; flex: 0 0 4.16667%; }
  .col-sm-2 { width: 8.33333%; flex: 0 0 8.33333%; }
  .col-sm-3 { width: 12.5%; flex: 0 0 12.5%; }
  .col-sm-4 { width: 16.66667%; flex: 0 0 16.66667%; }
  .col-sm-5 { width: 20.83333%; flex: 0 0 20.83333%; }
  .col-sm-6 { width: 25%; flex: 0 0 25%; }
  .col-sm-7 { width: 29.16667%; flex: 0 0 29.16667%; }
  .col-sm-8 { width: 33.33333%; flex: 0 0 33.33333%; }
  .col-sm-9 { width: 37.5%; flex: 0 0 37.5%; }
  .col-sm-10 { width: 41.66667%; flex: 0 0 41.66667%; }
  .col-sm-11 { width: 45.83333%; flex: 0 0 45.83333%; }
  .col-sm-12 { width: 50%; flex: 0 0 50%; }
  .col-sm-13 { width: 54.16667%; flex: 0 0 54.16667%; }
  .col-sm-14 { width: 58.33333%; flex: 0 0 58.33333%; }
  .col-sm-15 { width: 62.5%; flex: 0 0 62.5%; }
  .col-sm-16 { width: 66.66667%; flex: 0 0 66.66667%; }
  .col-sm-17 { width: 70.83333%; flex: 0 0 70.83333%; }
  .col-sm-18 { width: 75%; flex: 0 0 75%; }
  .col-sm-19 { width: 79.16667%; flex: 0 0 79.16667%; }
  .col-sm-20 { width: 83.33333%; flex: 0 0 83.33333%; }
  .col-sm-21 { width: 87.5%; flex: 0 0 87.5%; }
  .col-sm-22 { width: 91.66667%; flex: 0 0 91.66667%; }
  .col-sm-23 { width: 95.83333%; flex: 0 0 95.83333%; }
  .col-sm-24 { width: 100%; flex: 0 0 100%; }
}

@media (min-width: 768px) {
  .col-md-1 { width: 4.16667%; flex: 0 0 4.16667%; }
  .col-md-2 { width: 8.33333%; flex: 0 0 8.33333%; }
  .col-md-3 { width: 12.5%; flex: 0 0 12.5%; }
  .col-md-4 { width: 16.66667%; flex: 0 0 16.66667%; }
  .col-md-5 { width: 20.83333%; flex: 0 0 20.83333%; }
  .col-md-6 { width: 25%; flex: 0 0 25%; }
  .col-md-7 { width: 29.16667%; flex: 0 0 29.16667%; }
  .col-md-8 { width: 33.33333%; flex: 0 0 33.33333%; }
  .col-md-9 { width: 37.5%; flex: 0 0 37.5%; }
  .col-md-10 { width: 41.66667%; flex: 0 0 41.66667%; }
  .col-md-11 { width: 45.83333%; flex: 0 0 45.83333%; }
  .col-md-12 { width: 50%; flex: 0 0 50%; }
  .col-md-13 { width: 54.16667%; flex: 0 0 54.16667%; }
  .col-md-14 { width: 58.33333%; flex: 0 0 58.33333%; }
  .col-md-15 { width: 62.5%; flex: 0 0 62.5%; }
  .col-md-16 { width: 66.66667%; flex: 0 0 66.66667%; }
  .col-md-17 { width: 70.83333%; flex: 0 0 70.83333%; }
  .col-md-18 { width: 75%; flex: 0 0 75%; }
  .col-md-19 { width: 79.16667%; flex: 0 0 79.16667%; }
  .col-md-20 { width: 83.33333%; flex: 0 0 83.33333%; }
  .col-md-21 { width: 87.5%; flex: 0 0 87.5%; }
  .col-md-22 { width: 91.66667%; flex: 0 0 91.66667%; }
  .col-md-23 { width: 95.83333%; flex: 0 0 95.83333%; }
  .col-md-24 { width: 100%; flex: 0 0 100%; }
}

@media (min-width: 992px) {
  .col-lg-1 { width: 4.16667%; flex: 0 0 4.16667%; }
  .col-lg-2 { width: 8.33333%; flex: 0 0 8.33333%; }
  .col-lg-3 { width: 12.5%; flex: 0 0 12.5%; }
  .col-lg-4 { width: 16.66667%; flex: 0 0 16.66667%; }
  .col-lg-5 { width: 20.83333%; flex: 0 0 20.83333%; }
  .col-lg-6 { width: 25%; flex: 0 0 25%; }
  .col-lg-7 { width: 29.16667%; flex: 0 0 29.16667%; }
  .col-lg-8 { width: 33.33333%; flex: 0 0 33.33333%; }
  .col-lg-9 { width: 37.5%; flex: 0 0 37.5%; }
  .col-lg-10 { width: 41.66667%; flex: 0 0 41.66667%; }
  .col-lg-11 { width: 45.83333%; flex: 0 0 45.83333%; }
  .col-lg-12 { width: 50%; flex: 0 0 50%; }
  .col-lg-13 { width: 54.16667%; flex: 0 0 54.16667%; }
  .col-lg-14 { width: 58.33333%; flex: 0 0 58.33333%; }
  .col-lg-15 { width: 62.5%; flex: 0 0 62.5%; }
  .col-lg-16 { width: 66.66667%; flex: 0 0 66.66667%; }
  .col-lg-17 { width: 70.83333%; flex: 0 0 70.83333%; }
  .col-lg-18 { width: 75%; flex: 0 0 75%; }
  .col-lg-19 { width: 79.16667%; flex: 0 0 79.16667%; }
  .col-lg-20 { width: 83.33333%; flex: 0 0 83.33333%; }
  .col-lg-21 { width: 87.5%; flex: 0 0 87.5%; }
  .col-lg-22 { width: 91.66667%; flex: 0 0 91.66667%; }
  .col-lg-23 { width: 95.83333%; flex: 0 0 95.83333%; }
  .col-lg-24 { width: 100%; flex: 0 0 100%; }
}

@media (min-width: 1200px) {
  .col-xl-1 { width: 4.16667%; flex: 0 0 4.16667%; }
  .col-xl-2 { width: 8.33333%; flex: 0 0 8.33333%; }
  .col-xl-3 { width: 12.5%; flex: 0 0 12.5%; }
  .col-xl-4 { width: 16.66667%; flex: 0 0 16.66667%; }
  .col-xl-5 { width: 20.83333%; flex: 0 0 20.83333%; }
  .col-xl-6 { width: 25%; flex: 0 0 25%; }
  .col-xl-7 { width: 29.16667%; flex: 0 0 29.16667%; }
  .col-xl-8 { width: 33.33333%; flex: 0 0 33.33333%; }
  .col-xl-9 { width: 37.5%; flex: 0 0 37.5%; }
  .col-xl-10 { width: 41.66667%; flex: 0 0 41.66667%; }
  .col-xl-11 { width: 45.83333%; flex: 0 0 45.83333%; }
  .col-xl-12 { width: 50%; flex: 0 0 50%; }
  .col-xl-13 { width: 54.16667%; flex: 0 0 54.16667%; }
  .col-xl-14 { width: 58.33333%; flex: 0 0 58.33333%; }
  .col-xl-15 { width: 62.5%; flex: 0 0 62.5%; }
  .col-xl-16 { width: 66.66667%; flex: 0 0 66.66667%; }
  .col-xl-17 { width: 70.83333%; flex: 0 0 70.83333%; }
  .col-xl-18 { width: 75%; flex: 0 0 75%; }
  .col-xl-19 { width: 79.16667%; flex: 0 0 79.16667%; }
  .col-xl-20 { width: 83.33333%; flex: 0 0 83.33333%; }
  .col-xl-21 { width: 87.5%; flex: 0 0 87.5%; }
  .col-xl-22 { width: 91.66667%; flex: 0 0 91.66667%; }
  .col-xl-23 { width: 95.83333%; flex: 0 0 95.83333%; }
  .col-xl-24 { width: 100%; flex: 0 0 100%; }
}

@media (min-width: 1600px) {
  .col-xxl-1 { width: 4.16667%; flex: 0 0 4.16667%; }
  .col-xxl-2 { width: 8.33333%; flex: 0 0 8.33333%; }
  .col-xxl-3 { width: 12.5%; flex: 0 0 12.5%; }
  .col-xxl-4 { width: 16.66667%; flex: 0 0 16.66667%; }
  .col-xxl-5 { width: 20.83333%; flex: 0 0 20.83333%; }
  .col-xxl-6 { width: 25%; flex: 0 0 25%; }
  .col-xxl-7 { width: 29.16667%; flex: 0 0 29.16667%; }
  .col-xxl-8 { width: 33.33333%; flex: 0 0 33.33333%; }
  .col-xxl-9 { width: 37.5%; flex: 0 0 37.5%; }
  .col-xxl-10 { width: 41.66667%; flex: 0 0 41.66667%; }
  .col-xxl-11 { width: 45.83333%; flex: 0 0 45.83333%; }
  .col-xxl-12 { width: 50%; flex: 0 0 50%; }
  .col-xxl-13 { width: 54.16667%; flex: 0 0 54.16667%; }
  .col-xxl-14 { width: 58.33333%; flex: 0 0 58.33333%; }
  .col-xxl-15 { width: 62.5%; flex: 0 0 62.5%; }
  .col-xxl-16 { width: 66.66667%; flex: 0 0 66.66667%; }
  .col-xxl-17 { width: 70.83333%; flex: 0 0 70.83333%; }
  .col-xxl-18 { width: 75%; flex: 0 0 75%; }
  .col-xxl-19 { width: 79.16667%; flex: 0 0 79.16667%; }
  .col-xxl-20 { width: 83.33333%; flex: 0 0 83.33333%; }
  .col-xxl-21 { width: 87.5%; flex: 0 0 87.5%; }
  .col-xxl-22 { width: 91.66667%; flex: 0 0 91.66667%; }
  .col-xxl-23 { width: 95.83333%; flex: 0 0 95.83333%; }
  .col-xxl-24 { width: 100%; flex: 0 0 100%; }
}
